{% extends "admin_custom/base_admin.html" %}
{% load static %}
{% block title %}{% if form.instance.pk %}Editar Companhia{% else %}Nova Companhia{% endif %}{% endblock %}
{% block header_title %}Companhias Aéreas{% endblock %}
{% block menu_companhias %}is-active{% endblock %}
{% block dados_complementares_open %}open{% endblock %}
{% block content %}
<div class="form-wrapper">
<form method="post">
    {% csrf_token %}
    <div class="form-title">{% if form.instance.pk %}Editar Companhia{% else %}Nova Companhia{% endif %}</div>
    <div class="form-group single">
        <label class="form-label" for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
        {{ form.nome }}
    </div>
    <div class="form-group single">
        <label class="form-label" for="{{ form.site_url.id_for_label }}">{{ form.site_url.label }}</label>
        {{ form.site_url }}
    </div>
    <div class="form-actions">
        <button type="submit" class="btn">Salvar</button>
    </div>
</form>
</div>
{% endblock %}
