__pycache__/
*.pyc
db.sqlite3
dump.json
.env
.env.local
staticfiles/
.tmp/
tmp_*.html
tmp_*.pdf
media/portal/noticias/generated/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
