{% extends "admin_custom/base_admin.html" %}
{% load static %}
{% block title %}Novo Usuário{% endblock %}
{% block header_title %}Gerenciar Usuários{% endblock %}
{% block extra_head %}<link rel="stylesheet" href="{% static 'gestao/formulario_base_gestao.css' %}">{% endblock %}
{% block content %}
<div class="form-wrapper">
  <form method="POST">
    {% csrf_token %}
    <div class="form-title">Novo Usuário</div>
    <div class="form-group single">
      <label class="form-label" for="{{ form.nome_completo.id_for_label }}">{{ form.nome_completo.label }}</label>
      {{ form.nome_completo }}
    </div>
    <div class="form-group single">
      <label class="form-label" for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
      {{ form.cpf }}
    </div>
    <div class="form-group single">
      <label class="form-label" for="{{ form.perfil.id_for_label }}">{{ form.perfil.label }}</label>
      {{ form.perfil }}
    </div>
    <div class="form-group single">
      <label class="form-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
      {{ form.password }}
    </div>
    <div class="form-group single">
      <label class="form-label" for="{{ form.acesso_ate.id_for_label }}">{{ form.acesso_ate.label }}</label>
      {{ form.acesso_ate }}
    </div>
    <div class="form-group single">
      <label class="form-label" for="{{ form.empresa.id_for_label }}">{{ form.empresa.label }}</label>
      {{ form.empresa }}
    </div>
    <div class="form-group single">
      <label class="form-label" for="{{ form.nova_empresa_nome.id_for_label }}">{{ form.nova_empresa_nome.label }}</label>
      {{ form.nova_empresa_nome }}
    </div>
    <div class="form-group single">
      <label class="form-label" for="{{ form.limite_operadores.id_for_label }}">{{ form.limite_operadores.label }}</label>
      {{ form.limite_operadores }}
    </div>
    <div class="form-group single">
      <label class="form-label" for="{{ form.limite_clientes.id_for_label }}">{{ form.limite_clientes.label }}</label>
      {{ form.limite_clientes }}
    </div>
    <div class="form-actions">
      <button type="submit" class="btn-primary">Salvar</button>
    </div>
  </form>
</div>
{% endblock %}
